<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>

                        <a href="" class="btn btn-primary" id="SendNotification">Send notification By Token</a>

                    </li>

                    <li>

                        <a href="" class="btn btn-info" id="SendNotificationTopic">Send notification By Topic</a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script src='https://www.gstatic.com/firebasejs/6.4.2/firebase-app.js' type="text/javascript"></script>

    <script src='https://www.gstatic.com/firebasejs/6.4.2/firebase-messaging.js' type="text/javascript"></script>

    <script>
        var Ctoken = "";
        $("#SendNotification").click(function (e) {
            e.preventDefault();

          
            $.ajax({
                url: "@Url.Content("~/Home/SendNotification")",
                type: "POST",
                data: { token: Ctoken }
,

                dataType: 'json',
                success: function (result) {

                    alert("Sent");

                },
                error: function (result) {

                    alert("Fail");
                }
            });

            return;

        });

        $("#SendNotificationTopic").click(function (e) {
            debugger;
            e.preventDefault();

           
            $.ajax({
                url: "@Url.Content("~/Home/SendNotificationTopic")",
                type: "POST",
                
              /*  dataType: 'json',*/
                success: function (result) {
                    debugger;

                    alert("Sent");

                },
                error: function (result) {
                    debugger;

                    alert("Fail");
                }
            });

            return;

        });
        $(function () {


            const config = {
                apiKey: "AIzaSyB4ORpeBRAYmN4uMUH9m2-wNXAyQcoDsc4",
                authDomain: "rdlc-report.firebaseapp.com",
                projectId: "rdlc-report",
                storageBucket: "rdlc-report.appspot.com",
                messagingSenderId: "501534950048",
                appId: "1:501534950048:web:ec442890e1a4088049ffc5",
                measurementId: "G-4Z8RHWE4DQ"
            };
            firebase.initializeApp(config);

            const messaging = firebase.messaging();

            messaging.requestPermission()
                .then(function () {
                    console.log("granted");
                    if (isTokenSentToServer()) {
                        console.log("already granted");
                    } else {
                        getRegtoken();
                    }
                });


            function getRegtoken() {
                messaging.getToken().then((currentToken) => {
                    if (currentToken) {
                        console.log(currentToken);
                        setTokenSentToServer(true);
                        //saveToken(currentToken)
                        Ctoken = currentToken;
                         ////window.location = "@Url.Content("~/Home/SendNotification?token=")" + currentToken;
                        //   updateUIForPushEnabled(currentToken);
                    } else {
                        console.log('No Instance ID token available. Request permission to generate one.');
                        setTokenSentToServer(false);
                    }
                }).catch((err) => {
                    console.log('An error occurred while retrieving token. ', err);
                    setTokenSentToServer(false);
                });

            }
            function setTokenSentToServer(sent) {
                window.localStorage.setItem('sentToServer', sent ? 1 : 0);
            }
            function isTokenSentToServer() {
                return window.localStorage.getItem('sentToServer') === '1';
            }
            messaging.onMessage(function (payload) {
                console.log('Message received. ', payload);

                notificationTitle = payload.notification.title;
                notificationOptions = {
                    body: payload.notification.body,
                    icon: payload.notification.icon
                };

                var notification = new Notification(notificationTitle, notificationOptions);

            });

        });


    </script>


    @RenderSection("scripts", required: false)
</body>
</html>



